# -------------------------------
# Entorno virtual
# -------------------------------
venv/
ENV/
env/
*.egg-info/

# -------------------------------
# Archivos compilados de Python
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos SQLite
db.sqlite3


# -------------------------------
# Archivos de configuración local / secretos
# -------------------------------
.env
*.env

# -------------------------------
# Archivos de logs
# -------------------------------
*.log

# -------------------------------
# Archivos de IDEs y editores
# -------------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -------------------------------
# Archivos de sistema
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# Archivos generados por Django
# -------------------------------
*.pot
*.mo
staticfiles/
media/
